# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
src/api/bin/Debug/net8.0/api
src/api/bin/Debug/net8.0/api.deps.json
src/api/bin/Debug/net8.0/api.runtimeconfig.json
src/api/bin/Debug/net8.0/appsettings.Development.json
src/api/bin/Debug/net8.0/appsettings.json
src/api/obj/api.csproj.nuget.dgspec.json
src/api/obj/api.csproj.nuget.g.props
src/api/obj/api.csproj.nuget.g.targets
src/api/obj/project.assets.json
src/api/obj/project.nuget.cache
src/api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
src/api/obj/Debug/net8.0/api.AssemblyInfo.cs
src/api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
src/api/obj/Debug/net8.0/api.assets.cache
src/api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
src/api/obj/Debug/net8.0/api.csproj.CopyComplete
src/api/obj/Debug/net8.0/api.csproj.CoreCompileInputs.cache
src/api/obj/Debug/net8.0/api.csproj.FileListAbsolute.txt
src/api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
src/api/obj/Debug/net8.0/api.genruntimeconfig.cache
src/api/obj/Debug/net8.0/api.GlobalUsings.g.cs
src/api/obj/Debug/net8.0/api.MvcApplicationPartsAssemblyInfo.cache
src/api/obj/Debug/net8.0/api.MvcApplicationPartsAssemblyInfo.cs
src/api/obj/Debug/net8.0/api.sourcelink.json
src/api/obj/Debug/net8.0/apphost
src/api/obj/Debug/net8.0/staticwebassets.build.json
src/api/obj/Debug/net8.0/staticwebassets/msbuild.build.api.props
src/api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.api.props
src/api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.api.props
